/* Balises principales  */

html, body {
  background-color: #FBFBEF;
  font-family: 'Raleway';
  font-size: 1.1em;
  line-height: 1.2em;
}

h3{
  font-size: 1.25em;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 3%;
}

p {
	text-indent: 5%;
}

.tooltip-inner{
	color: black;
	background-color: rgba(0, 13, 26, 0.6);
	padding-left: 1.1vh;
	padding-right: 1.1vh;
	padding-bottom: 1vh;
	padding-top: 1vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-radius: 1vh;
}

.encart {
	background-color: #f5f5f5;
	box-shadow: 10px 5px 23px 0px grey;
	border-radius : 15px;
	margin-bottom: 19px;

}

.exergue{

   width: 100%;
   padding-right: 9%;
   padding-left: 9%;
   padding-top: 2.5%;
   padding-bottom: 4%;
   margin-bottom: 0px;
   line-height: 1.0em;
   font-family: 'Cormorant';
   font-size: 1.17em;
   text-align: justify;
   text-indent: 17	%;
}
.inter{
	line-height: 1.0em;
   font-family: 'Cormorant';
   font-size: 1.6em;
   padding-bottom: 4vh;
   color: red;
}
.interFramed{
   line-height: 1.0em;
   font-family: 'Cormorant';
   font-size: 1.6em;
   padding-bottom: 5vh;
   color: #663300;
}

#imgBck1{
	background: url(assets/images/titre.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;*/ /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}
#imgBck2{
	background: url(assets/images/sdTraiteGG.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;*/ /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}
#imgBck3{
	background: url(assets/images/bourguignon.png) no-repeat center fixed; 
	-webkit-background-size: cover;*/ /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}
#imgBck4{
	background: url(assets/images/cover2.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;*/ /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.containerVideoText {
	position: relative;
}
.parent-element-to-video {
    overflow: hidden;
    right: 0px;
    left: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}

#vid {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

.videoBck {

}
.onBck{
	color: white;
	background-color: rgba(0, 13, 26, 0.67);
	padding-left: 4.1vh;
	padding-right: 4.1vh;
	padding-bottom: 30px;
	padding-top: 5vh;
	margin-top: 0vh;
	margin-bottom: 3vh;
	border-radius: 10px;
}
.onBckFramed{
	color: #1a0f00;
	background-color: rgba(230, 230, 230, 0.87);
	padding-left: 4.1vh;
	padding-right: 4.1vh;
	padding-bottom: 30px;
	padding-top: 5vh;
	margin-top: 10vh;
	margin-bottom: 3vh;
	border-radius: 10px;
}
/* Mobile : désactiver la visibilité de .mobileEvanescent, activer la visibilité des images fixes  */

.objetMobile{
	width: 100%;
}

.mobileEvanescent{
display: none;
}	
.videoMobileEvanescente
{
display: none;
}

@media (min-width: 500px), (orientation: landscape) {
.objetMobileV
	{
		display: none;
	}
}

@media (max-width: 500px) and (orientation: portrait) {
	.objetMobileV
	{
		display: inline;
		width: 80vw;
	}
}


.row
{
	padding-top: 7%;
}

/* Desktop : activer la visibilité de .mobileEvanescent, désactiver la visibilité des images fixes  */

@media(min-width: 660px)
{
	.mobileEvanescent{
	display: inline-block;
	}
	.videoMobileEvanescente
	{
		display: inline;
		height: 100vh;
    	width: 177.77777778vh; /* 100 * 16 / 9 */
    	min-width: 100%;
    	min-height: 56.25vw; /* 100 * 9 / 16 */
    	margin-bottom: 0px;
	}
	.row
	{
	padding-top: 5%;
	}
	.objet
	{	
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0vh;
	align-content: center;
	}
	.objetMobile
	{
	display: none;
	}
	.imgMobileBck{
	display: none; 
	}
	html, body {
  font-size: 1.1em;
  line-height: 28px;
}
}

@media(min-width: 992px)
{
	.mobileEvanescent{
	display: inline-block;
	}		
	.videoMobileEvanescente
	{
		display: inline;
		height: 100vh;
    	width: 177.77777778vh; /* 100 * 16 / 9 */
    	min-width: 100%;
    	min-height: 56.25vw; /* 100 * 9 / 16 */
	}
	.row
	{
	padding-top: 3.5%;
	}
	.objet
	{	
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0vh;
	align-content: center;
	}
	.objetMobile
	{
	display: none;
	}
	.imgMobileBck{
	display: none; 
	}
	html, body {
  	font-size: 1.1em;
  	line-height: 28px;
	}

}




